.search-page {
  max-width: 35rem;
  margin: 4rem auto;
  border: 1px solid var(--borderColor);
}
.search-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 10rem;
}
.search-box {
  width: 100%;
}
.search-holder {
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-btn {
  cursor: pointer;
  height: 2rem;
  border: none;
  background-color: transparent;
}
.list {
  padding-left: 0;
}
.list-item {
  margin: 0.3rem auto;
  display: flex;
  padding: 0.5rem;
  align-items: center;
  min-width: 10rem;
  max-width: 15rem;
}
