:root {
  --textColor: #87849a;
  --primaryColor: #2bc48a;
  --borderColor: #e3e7eb;
  --background: #cfd7de29;
  --icon: #454550;
  --errro:#ff2626;
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--background);
  font-family: "Josefin Sans", sans-serif;
  /* font-family: "Fira Sans", sans-serif; */
}
.App {
  margin: 0;
  padding: 0;
}
